* {
  scrollbar-color: #181a1b #34383a;
}

html {
  font-family: "Noto Sans", Sans-Serif;
}

.main {
  max-width: -webkit-calc(800px - (50px * 2));
  max-width: calc(800px - (50px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

div {
  overflow: auto;
}

div.leftcolumn div.shawdow,
div.rightcolumn div.shawdow,
div.leftcolumn div.card,
div.rightcolumn div.card {
  box-shadow: 5px 5px 3px #161819;
}

div.leftcolumn>div.card,
div.rightcolumn>div.card {
  box-shadow: 5px 5px 5px #22222223;
}

.site-title {
  font-size: 25px;
  line-height: 37px;
  text-shadow: none;
  white-space: nowrap;
  margin: 0 0.5rem;
  display: none;
}

header {
  box-shadow: 3px 3px 3px #3f41410c;
  border-radius: 10px;
}

.site-title {
  font-family: "Noto Sans";
}

h1,
h2,
h3,
h4,
.btn-rack__btn i,
.btn-rack form i {
  font-family: "Roboto";
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  background: #181613;
  color: #bababa;
}

body.fixed-scroll {
  overflow-y: scroll;
}

a {
  color: #3692e7;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #57aeff;
}

p {
  margin-bottom: 1em;
}

em,
i {
  font-style: normal;
}

li {
  list-style-position: inside;
  list-style-type: circle;
  line-height: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

time {
  font-size: 90%;
  opacity: 0.9;
}

hr {
  margin: 1.5rem 0;
  border: 0;
  height: 1px;
  background: #404040;
}

small {
  font-size: 0.9em;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  text-align: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: #bababa;
  outline-color: #3692e7;
}

option,
optgroup {
  background: #262421;
  color: #ccc;
}

input,
textarea,
select {
  background: #24221e;
  border: 1px solid #404040;
  padding: 0.6em 1em;
}

textarea {
  overflow: auto;
  resize: vertical;
  padding: 0.8em 1em;
}

button,
a {
  cursor: pointer;
}

::-ms-input-placeholder {
  color: #999;
}

::placeholder {
  color: #999;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 12px;
}

@media (min-width: 320px) {
  html {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-size: 1em;
}

h1 {
  margin-bottom: 5vh;
}

h1 {
  font-size: 20px;
}

@media (min-width: 320px) {
  h1 {
    font-size: calc(20px + 20 * ((100vw - 320px) / 880));
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 40px;
  }
}

h1 a {
  color: #2e7cc5;
}

h1 a:hover {
  color: #3692e7;
}

h2 {
  font-size: 16px;
}

@media (min-width: 320px) {
  h2 {
    font-size: calc(16px + 14 * ((100vw - 320px) / 880));
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}

body {
  --site-header-height: 40px;
  --site-header-margin: 0px;
  --main-margin: 0;
}

@media (min-height: 600px) {
  body {
    --site-header-height: 60px;
  }
}

@media (min-width: 800px) {
  body {
    --main-margin: 1vw;
    margin-bottom: 2vmin;
  }
}

@media (hover: hover) {
  body {
    --hoverable: 1;
  }
}

@supports (display: grid) {
  body {
    --grid: 1;
  }
}

@media (min-width: 800px) {
  .page-menu {
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-template-areas: "menu content";
  }
}

@media (max-width: 979px) and (min-height: 600px) {
  .hbg__in,
  .hbg__in::after,
  .hbg__in::before {
    width: 34px;
    height: 3px;
  }

  .hbg__in {
    left: 13px;
  }
}

@media (max-width: 979px) {
  .hbg__in::after,
  .hbg__in::before {
    content: "";
  }

  .hbg__in::before {
    top: -6px;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }
}

@media (max-width: 979px) and (min-height: 600px) {
  .hbg__in::before {
    top: -9px;
  }
}

@media (max-width: 979px) {
  .hbg__in::after {
    bottom: -7px;
    transition: bottom 0.1s 0.25s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

@media (max-width: 979px) and (min-height: 600px) {
  .hbg__in::after {
    bottom: -10px;
  }
}

@media (max-width: 979px) {
  #topnav {
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    top: var(--site-header-height);
    bottom: 0;
    left: 0;
    background: #262421;
    transform: translateX(calc(-100% - 10px));
    transition: transform 200ms;
    padding-bottom: 1.2rem;
    overflow-y: auto;
    overscroll-behavior: contain;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5);
    border-radius: 0 3px 0 0;
    max-width: 80%;
    z-index: 110;
  }
}

@media (max-width: 979px) and (min-width: 500px) {
  #topnav {
    max-width: 70%;
  }
}

@media (max-width: 979px) {
  #topnav a {
    color: #bababa;
    text-decoration: none;
    padding: 0.7em 0;
    opacity: 0;
    transition: opacity 150ms;
  }

  #topnav section {
    flex: 1 0 50%;
    margin-top: 1rem;
  }

  #topnav section>a {
    font-size: 1.2em;
    padding-left: 1.2rem;
    font-weight: bold;
    display: block;
  }

  #topnav section .play {
    display: none;
  }

  #topnav section div {
    display: flex;
    flex-flow: column;
  }

  #topnav section div a {
    padding-left: 2.4rem;
  }

  #topnav section a:active {
    background: #3692e7;
    color: #fff;
  }
}

@media (min-width: 980px) {
  #topnav {
    --nav-section: 26px;
    --nav-section-hover: 35px;
    display: flex;
  }
}

@media (min-width: 980px) and (min-height: 600px) {
  #topnav {
    --nav-section: 48px;
    --nav-section-hover: 53px;
  }
}

@media (min-width: 980px) {
  #topnav section {
    position: relative;
    height: var(--nav-section);
  }

  #topnav section>a {
    color: #999;
    text-shadow: none;
    display: block;
    height: var(--nav-section);
    line-height: var(--site-header-height);
    padding: 0 0.7rem;
    text-transform: uppercase;
    border-left: 2px solid transparent;
  }
}

@media (min-width: 980px) and (hover: none) {
  #topnav section>a {
    pointer-events: none;
  }
}

@media (min-width: 980px) {
  #topnav section .part {
    display: none;
  }

  #topnav div {
    visibility: hidden;
    max-height: inherit;
    position: absolute;
    left: 0;
    background: #3c3934;
    min-width: 10rem;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0 3px 3px 3px;
    border-left: 2px solid #3692e7;
  }

  #topnav div a {
    display: block;
    padding: 0.6rem 0.7rem;
    color: #ccc;
  }

  #topnav div a:hover {
    background: #3692e7;
    color: #fff;
  }

  #topnav div a:first-child {
    border-radius: 0 3px 0 0;
  }

  #topnav div a:last-child {
    border-radius: 0 0 3px 1px;
  }

  #topnav.blind div {
    display: block;
    margin-left: -9000px;
  }

  #topnav.hover section:hover>a,
  #topnav section:active>a {
    height: var(--nav-section-hover);
    background: #3c3934;
    color: #ccc;
    border-color: #3692e7;
  }

  #topnav.hover section:hover div,
  #topnav section:active div {
    visibility: visible;
    max-height: none;
  }
}

@media (min-width: 500px) {
  .site-title {
    display: block;
  }
}

@media (max-width: 979px) {
  .site-title {
    margin-left: calc(0.5rem + var(--site-header-height));
  }
}

@media (min-height: 600px) {
  .site-title {
    font-size: 30px;
    line-height: 57px;
  }
}

@media (min-width: 980px) and (min-height: 600px) {
  .site-title {
    line-height: 55px;
    margin: 0 1rem;
  }
}

.site-title a {
  color: #bababa;
  text-decoration: none;
}

.site-title a:hover {
  color: #3692e7;
}

.site-title a:hover span {
  color: #2e7cc5;
}

.site-title span {
  color: #999;
}

.site-title .kiddo {
  color: #6b6b6b;
  font-weight: bold;
  margin-right: 0.5em;
}

#top {
  height: var(--site-header-height);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 106;
  max-width: 1800px;
  margin: 0 auto;
  --dropdown-top: 40px;
}

@media (min-height: 600px) {
  #top {
    --dropdown-top: 60px;
  }
}

.site-title-nav {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 400px) {

  .rightcolumn {
    width: 0%;
    padding: 0;
    float: none;
  }

  .leftcolumn {
    width: 100%;
    padding: 0;
    float: none;
  }
}

canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
menu,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  border-color: currentcolor;
  background-color: transparent;
  background-image: none;
}

canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
menu,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  background: transparent;
  background-color: transparent;
  background-image: none;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #181613;
  margin-top: 20px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
  padding: 20px;
}

.card {
  background-color: #1d1a17;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

svg,
img,
video {
  opacity: 0.3;
  height: auto;
}

li {
  display: list-item;
  text-align: match-parent;
  font-size: calc(20px + 20 * ((100vw - 320px) / 8800));
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 1.2em;
  line-height: 1.4285em;
}

#image_converter_input {
  opacity: 0.1;
  border-radius: 10px;
  float: inherit;
}

#btn {
  color: #24221e;
  background: transparent;
  border: 2px solid #24221e;
  border-radius: 6px;
  color: #24221e;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: auto;
  font-weight: 800;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  height: 2rem;
  width: 9rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

#btn:hover {
  background-color: #24221e;
  font-weight: 800;
  color: rgb(175, 175, 175);
}

#btn .file {
  opacity: 0;
}

textarea,
td,
tr {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border-color: #5a5a5a31;
  box-shadow: 5px 5px 5px #22222223;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

[type="radio"]+label::before {
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  border-radius: 50%;
  border: 1px solid #01cd788e;
  text-indent: 0.15em;
  line-height: 1;
}

[type="radio"]:checked+label::before {
  background-color: #01cd78;
  background-clip: content-box;
  padding: 0.2em;
}

[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="button"] {
  border-width: 0px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin: 5px 0 5px 10px;
  box-shadow: 1px 1px 1px #222222a1;
}

input[type="text"] {
  border-width: 0px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin: 5px 0 5px 10px;
  box-shadow: 1px 1px 1px #222222a1;
}

select {
  border: none;
  outline: none;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;

  padding-right: 18px;
}

select::-ms-expand {
  display: none;
}
