.highlight table td {
	padding: 5px;
}
.highlight table pre {
	margin: 0;
}
.highlight .cm {
	color: #999988;
	font-style: italic;
}
.highlight .cp {
	color: #999999;
	font-weight: bold;
}
.highlight .c1 {
	color: #999988;
	font-style: italic;
}
.highlight .cs {
	color: #999999;
	font-weight: bold;
	font-style: italic;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cpf {
	color: #999988;
	font-style: italic;
}
.highlight .err {
	color: #a61717;
	background-color: #121414;
}
.highlight .gd {
	color: #000000;
	background-color: #121414;
}
.highlight .ge {
	color: #000000;
	font-style: italic;
}
.highlight .gr {
	color: #aa0000;
}
.highlight .gh {
	color: #999999;
}
.highlight .gi {
	color: #000000;
	background-color: #121414;
}
.highlight .go {
	color: #888888;
}
.highlight .gp {
	color: #555555;
}
.highlight .gs {
	font-weight: bold;
}
.highlight .gu {
	color: #aaaaaa;
}
.highlight .gt {
	color: #aa0000;
}
.highlight .kc {
	color: #000000;
	font-weight: bold;
}
.highlight .kd {
	color: #000000;
	font-weight: bold;
}
.highlight .kn {
	color: #000000;
	font-weight: bold;
}
.highlight .kp {
	color: #000000;
	font-weight: bold;
}
.highlight .kr {
	color: #000000;
	font-weight: bold;
}
.highlight .kt {
	color: #445588;
	font-weight: bold;
}
.highlight .k,
.highlight .kv {
	color: #000000;
	font-weight: bold;
}
.highlight .mf {
	color: #009999;
}
.highlight .mh {
	color: #009999;
}
.highlight .il {
	color: #009999;
}
.highlight .mi {
	color: #009999;
}
.highlight .mo {
	color: #009999;
}
.highlight .m,
.highlight .mb,
.highlight .mx {
	color: #009999;
}
.highlight .sb {
	color: #d14;
}
.highlight .sc {
	color: #d14;
}
.highlight .sd {
	color: #d14;
}
.highlight .s2 {
	color: #d14;
}
.highlight .se {
	color: #d14;
}
.highlight .sh {
	color: #d14;
}
.highlight .si {
	color: #d14;
}
.highlight .sx {
	color: #d14;
}
.highlight .sr {
	color: #009926;
}
.highlight .s1 {
	color: #d14;
}
.highlight .ss {
	color: #990073;
}
.highlight .s,
.highlight .sa,
.highlight .dl {
	color: #d14;
}
.highlight .na {
	color: #008080;
}
.highlight .bp {
	color: #999999;
}
.highlight .nb {
	color: #0086b3;
}
.highlight .nc {
	color: #445588;
	font-weight: bold;
}
.highlight .no {
	color: #008080;
}
.highlight .nd {
	color: #3c5d5d;
	font-weight: bold;
}
.highlight .ni {
	color: #800080;
}
.highlight .ne {
	color: #990000;
	font-weight: bold;
}
.highlight .nf,
.highlight .fm {
	color: #990000;
	font-weight: bold;
}
.highlight .nl {
	color: #990000;
	font-weight: bold;
}
.highlight .nn {
	color: #555555;
}
.highlight .nt {
	color: #000080;
}
.highlight .vc {
	color: #008080;
}
.highlight .vg {
	color: #008080;
}
.highlight .vi {
	color: #008080;
}
.highlight .nv,
.highlight .vm {
	color: #008080;
}
.highlight .ow {
	color: #000000;
	font-weight: bold;
}
.highlight .o {
	color: #000000;
	font-weight: bold;
}
.highlight .w {
	color: #bbbbbb;
}
.highlight {
	background-color: #121414;
	border-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.article__content h1,
.article__content h2,
.article__content h3,
.article__content h4,
.article__content h5,
.article__content h6,
.article__content p,
.article__content hr,
.article__content blockquote,
.article__content figure,
.article__content pre,
.article__content .highlighter-rouge,
.article__content ul,
.article__content ol,
.article__content dl,
.article__content table,
.article__content .footnotes {
	margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
figure,
pre,
.highlighter-rouge,
ul,
ol,
dl,
table,
.footnotes {
	padding: 0;
	margin: 0.5rem 0;
}

*,
::before,
::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	tab-size: 3.141592653589793ch;
}
